<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,500,700&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>Mahdia Aliyya | Blog </title>
</head>

<body class="position-relative">
    <!-- Navigation bar -->
    {% include "header.html" %}

    <!-- Blog content -->
    <div id="blog">
        <h2>Blog</h2>
        <div class="dark-bg blog-content">
            <div class="d-flex flex-wrap flex-row justify-content-between">
                <div class="blog-preview">
                    <div class="preview-pic">
                        <img src="{% static 'assets/citylight.jpg' %}">
                    </div>
                    <div class="preview-text">
                        <p>Dummy text preview here.</p>
                        <a>Read more ></a>
                    </div>
                </div>
                <div class="blog-preview">
                    <div class="preview-pic">
                        <img src="{% static 'assets/citylight.jpg' %}">
                    </div>
                    <div class="preview-text">
                        <p>Dummy text preview here.</p>
                        <a>Read more ></a>
                    </div>
                </div>
                <div class="blog-preview">
                    <div class="preview-pic">
                        <img src="{% static 'assets/citylight.jpg' %}">
                    </div>
                    <div class="preview-text">
                        <p>Dummy text preview here.</p>
                        <a>Read more ></a>
                    </div>
                </div>
            </div>
            <a href="https://medium.com/@mahdiaaliyya" target="_blank" class="float-right"><b>Follow my medium ></b></a>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>© 2019 by Mahdia Aliyya</p>
    </footer>

</body>

</html>