<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,500,700&display=swap" rel="stylesheet">

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>Mahdia Aliyya</title>
</head>

<body class="position-relative">
    <!-- Navigation bar -->
    {% include "header.html" %}


    <!-- Home Section -->
    <div id="home" class="position-relative justify-content-center">
        <div class="d-flex flex-column ">
            <div class="d-flex flex-wrap justify-content-around">
                <div class="profile-photo">
                    <img src="{% static 'assets/MahdiaAliyya.jpg' %}" alt="Mahdia Aliyya">
                </div>
                <div class="title">
                    <h1>Hi, I'm<br>Mahdia Aliyya</h1>
                    <h4>Computer Science Student</h4>
                    <button>Download CV</button>
                </div>
            </div>
            <div class="button-container d-flex flex-wrap justify-content-center">
                <button class="button-scroll-down">
                    <a href="#about"><i class="fa fa-chevron-down"></i></a>
                </button>
            </div>
        </div>
        <div class="icon-vertical d-flex flex-column">
            <button onclick="window.location.href = 'https://www.linkedin.com/in/mahdiaaliyya/';">
                <i class="fa fa-linkedin"></i>
            </button>
            <button><i class="fa fa-twitter"></i></button>
            <button onclick="window.location.href = 'https://gitlab.com/mahdiaaliyya';">
                <i class="fa fa-gitlab"></i>
            </button>
            <button onclick="window.location.href = 'https://github.com/mahdiaaliyya';">
                <i class="fa fa-github"></i>
            </button>
        </div>

    </div>

    <!-- About Me Section -->
    <div id="about">
        <div class="container">
            <div class="col-sm-12">
                <h2>About me</h2>
                <p>
                    I’m currently studying computer science at University of Indonesia. I highly interested in
                    <b>web development and design</b>
                    and about to find out more about other fields. In my spare time, i like to
                    read Paulo Coelho's books, binge watch tv series, listen to Bruno Major, or just play with my
                    cats.
                    I’m
                    passionate at
                    what I do and am really excited to learn new things.
                </p>
            </div>
        </div>
    </div>

    <!-- Experience and Skills Section -->
    <div id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 experience-container">
                    <h2>Experience</h2>
                    <ul>
                        <li>
                            <p><b>Front End Intern, Happy 5</b></p>
                            <p>June - August 2019<br>
                                Created create objective page using
                                React hooks</p>
                        </li>
                        <li>
                            <p><b>Front End Developer, IT Force FUKI</b></p>
                            <p>January 2019 - now<br>
                                Created a web app with Django</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-12 experience-container">
                    <h2>Skills</h2>
                    <ul>
                        <li>
                            <p><b>Intermediate</b></p>
                            <p>HTML5, CSS, React hooks, Java, Python</p>
                        </li>
                        <li>
                            <p><b>Beginner</b></p>
                            <p>Django, Javascript</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact ME Section -->
    <div id="contact" class="position-relative">
        <div class="container">
            <h2 class="row">Contact me</h2>
            <div class="row">
                <div class="col-lg-7 col-sm-12 form-container">
                    <form id="contact-form">
                        <input type="text" placeholder="Name" id="form-name" name="name">
                        <input type="email" placeholder="Email" id="form-email" name="email">
                        <textarea type="text" placeholder="Message" id="form-message" name="msg"></textarea>
                    </form>
                    <button id="submit-btn">Submit</button>
                </div>
                <div class="col-lg-5 col-sm-12">
                    <p>mahdia.aliyya@gmail.com<br>(+62) 852 8810 5186</p>
                    <div class="icon-horizontal">
                        <button onclick="window.location.href = 'https://www.linkedin.com/in/mahdiaaliyya/';">
                            <i class="fa fa-linkedin"></i>
                        </button>
                        <button><i class="fa fa-twitter"></i></button>
                        <button onclick="window.location.href = 'https://gitlab.com/mahdiaaliyya';">
                            <i class="fa fa-gitlab"></i>
                        </button>
                        <button onclick="window.location.href = 'https://github.com/mahdiaaliyya';">
                            <i class="fa fa-github"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="button-scroll-up-container d-flex flex-wrap justify-content-center">
                <button class="button-scroll-up">
                    <a href="#home"><i class="fa fa-chevron-up"></i></a>
                </button>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>© 2019 by Mahdia Aliyya</p>
    </footer>

</body>

</html>