<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,500,700&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
        integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
        integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <title>Mahdia Aliyya | Schedule </title>
</head>

<body class="position-relative">
    <!-- Navigation bar -->
    {% include "header.html" %}

    <!-- Blog content -->
    <div id="schedule">
        <h2>Schedule</h2>
        <div>
            <form id="schedule-form" action="{% url 'schedule' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>

        {% regroup activities|dictsort:"date" by date as activity_list %}
        {% for activity_date in activity_list %}
        <h3>{{ activity_date.grouper|date:"D, d M Y" }}</h3>
        {% for activity in activity_date.list %}
        <div class=event-card>
            <div>
                <h4>{{ activity.title }}</h4>
                <p>{{ activity.time }} | {{ activity.location }}</p>
            </div>
            <div class="right-side-card">
                <p>{{ activity.category }}</p>
                <form action="{% url 'delete' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ activity.id }}" name="id">
                    <button type="submit" class="delete-button">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8.99992" cy="8.99998" r="8" transform="rotate(-1.75953 8.99992 8.99998)"
                                fill="#C4C4C4" />
                            <path
                                d="M6.58951 12.1092L5.83439 11.3371L8.17653 9.04657L6.0622 6.88459L6.86007 6.1043L8.97441 8.26628L11.2651 6.02609L12.0202 6.79822L9.72953 9.03841L11.8313 11.1875L11.0334 11.9678L8.93166 9.81871L6.58951 12.1092Z"
                                fill="white" />
                        </svg>

                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer>
        <p>© 2019 by Mahdia Aliyya</p>
    </footer>

    <script>
        $(function () {
            $("#id_date").datepicker({
                format: 'yyyy-mm-dd',
            });
        });
    </script>

</body>

</html>